[submodule "arch-pkgs"]
	path = arch-pkgs
	url = @git:github.com:ericgebhart/arch-pkgs
[submodule "emacs-setup"]
	path = emacs-setup
	url = @git:github.com:ericgebhart/emacs-setup
[submodule "xmonad-setup"]
	path = xmonad-setup
	url = @git:github.com:ericgebhart/xmonad-setup
[submodule "xmonad-log-applet"]
	path = xmonad-log-applet
	url = http://github.com/ericgebhart/xmonad-log-applet
[submodule "bc-extensions"]
	path = bc-extensions
	url = http://github.com/ericgebhart/bc-extensions
[submodule "dotfiles"]
	path = dotfiles
	url = @git:github.com:ericgebhart/dotfiles
